{% extends "base.html" %}

{% block content %}
<h2>Available Classes</h2>
{% if not user.profile.is_member %}
  <a href="/checkout/buy/" class="btn btn-primary mb-3">
    Buy Membership (£15)
  </a>
{% endif %}

{% for class in classes %}
    <div style="border:1px solid #ccc; padding:10px; margin-bottom:10px;">
        <h3>{{ class.name }}</h3>
        <p> {{ class.description }}</p>
        <p><strong>Date:</strong> {{ class.date }}</p>
        <p><strong>Capacity:</strong> {{ class.capacity }}</p>

        {% if user.is_authenticated %}
            {% if user.profile.is_member %}
               <a href="/classes/book/{{ class.id }}/" class="btn btn-success  btn-sm">
                Book Class
               </a>
            {% else %}
               <a href="/checkout/buy/" class="btn btn-warning btn-sm">
                Upgrade to Membership
               </a>
            {% endif %}
        {% else %}
            <p><a href="/accounts/login/">Login to book</a></p>
        {% endif %}
    </div>
{% empty %}
    <p>No classes available.</p>
{% endfor %}

{% endblock %}