{% extends "base.html" %}

{% block content %}
<h2>Available Classes</h2>
{% if not user.profile.is_member %}
  <a href="/checkout/buy/" class="btn btn-primary mb-3">
    Buy Membership (£15)
  </a>
{% endif %}

{% for class in classes %}
    <div class="card mb-3 shadow-sm">
        <div class="card-body">
            <h5 class="card-title">{{ class.name }}</h5>
            <p class="card-text">{{ class.description }}</p>

            <p class="mb-1">
                <strong>Date:</strong> {{ class.date }}
            </p>

            <p class="mb-3">
                <strong>Capacity:</strong> {{ class.capacity }}
            </p>

            {% if usere.is_authenticated %}

                {% if user.profile.is_member %}
                    <a href="/classes/book/{{ class.id }}/" class="btn btn-success btn-sm">
                        Book Class
                    </a>
                {% else %}
                    <a href="/checkout/buy/" class="btn btn-warning btn-sm">
                        Upgrade to Membership
                    </a>
                (% endif %)
            {% else %}
                <a href="/accounts/login/" class="btn btn-secondary btn-sm">
                    Login to Book
                </a>
            {% endif %}

        </div>
    </div>
{% empty %}
    <p>No classes available.</p>
{% endfor %}

{% endblock %}